body {
    font-family: 'Slabo 27px', serif;
}

/* CABECERA */

header li {
    display: inline;
}

/* CABECERA PRIMERA SECCIÓN */

#first-part-header {
    background-color: #0439A4;
    border-bottom: 1px solid black;
    padding: 0 3px;
    color: white;
}

#first-part-header a, footer a, #second-part-header a {
    color: white !important;
    text-decoration: underline !important;
}

#first-part-header a:hover,  footer a:hover {
    text-decoration: none !important;
}

/* CABECERA SEGUNDA SECCIÓN */

#second-part-header {
    background-color: #064CDB;
}

/* CABECERA TERCERA SECCIÓN */

#nav-part-header {
    background-color: #343A40;
    padding: 7px;
}

#nav-part-header a {
    color: rgba(255,255,255,.5) !important;
    text-decoration: none;
}

@media (max-width: 768px) {
    #nav-part-header li {
        display: block;
    }
}

#nav-part-header a:hover {
    color: rgba(255,255,255,.75) !important;
}

#nav-part-header #link-selected {
    color: white !important; 
}

/* FOOTER */


footer {
    background-color: #0439A4;
    color: white;
}

i {
    color: white;
}

.form-check {
    padding-left: 0 !important;
}

/* COMPARTIDOS */

li {
    display: inline;
    padding: 0 5px;
}

ul {
    padding: 0 !important;
}

.element-required {
    color: red;
}

.img-logo {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.responsive {
    width: 100%;
    height: auto;
}

.breadcrumb {
    background-color: #E9ECEF;
    padding: 0.10rem 1rem !important;
}

.breadcrumb a {
    color: #007bff !important;
    text-decoration: none !important;
}

abbr {
    text-decoration: none !important;
}

/* INDEX */

main a {
    color: black !important;
    text-decoration: underline !important;
}

main a:hover {
    text-decoration: none !important;
}

.btn {
    color: white !important;
    text-decoration: none !important;
}

/* EXPOSICIONES */

.submenu {
    border: 1px solid black;
    background-color: lightyellow;
}

/* EXPOSICIONES-DETALLE */

.container-img-big {
    position: relative;
}

.center, .center-donar {
    position: absolute;
    top: 15%;
    left: 25%;
    font-size: 22px;
}

@media (max-width: 768px) {
    .center {
        position: absolute;
        top: 20%;
        left: 15%;
        font-size: 22px;
    }
}

.center {
    color: white;
}

.iframe-responsive {
    position: relative;
    overflow: hidden;
    padding-top: 60%;
}

.iframe-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

tbody tr:nth-child(odd) {
    background: #D0D0D0;
}

tbody tr:nth-child(even) {
    background: #F0F0F0;
}

table {
    text-align: center;
}

td, th {
    border: 1px solid black !important;
}

blockquote {
    background-color: #EEE;
    border-left: 5px solid #DDD;
}

blockquote p {
    padding: 15px 30px 30px 25px;
}

/* DONAR */ 

.center-donar {
    color: black;
}

#donar {
    border: 1px solid black;
    padding: 10px;
}

#donar input, #donar select {
    width: 100%;
    border-radius: .25rem;
    padding: 0 2px; 
}

#donar input[type="radio"] {
    width: initial;
}