/********************************************************************
Añade a los diversos selectores, las propiedades y valores necesarios
para conseguir el diseño que se muestra en la imagen layoutFinal.jpg
mediante la técnica de diseño flotante.
NOTA: el ejercicio consiste en añadir algunas propiedades y valores;
no deberías eliminar ninguna de las que os entregamos.
*********************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.6 Helvetica, Arial, sans-serif;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: grey;
}

section {
    border: 2px solid black;
    padding: 15px;
    width: 50%;
}

section:last-child {
    width: 100%;
}

.s1 { 
    background-color: rebeccapurple;
    float: left;
    height: 375px;
}
.s2 {
    background-color: greenyellow;
    float: left;
    height: 375px;
}
.s3 {
    background-color: orange;
    float: left;
    height: 250px;
}
.s4 {
    background-color: orangered;
    float: left;
    height: 250px;
}
.s5 {
    background-color: white;
    clear: left;
}