/********************************************************************
Añade a los diversos selectores, las propiedades y valores necesarios
para conseguir el diseño que se muestra en la imagen layoutFinal.jpg
mediante la técnica de diseño flexible.
NOTA: el ejercicio consiste en añadir algunas propiedades y valores;
no deberías eliminar ninguna de las que os entregamos.
*********************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.6 Helvetica, Arial, sans-serif;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
}

section {
    border: 2px solid black;
    padding: 15px;
    width: 50%;
}

section:last-child {
    width: 100%;
}

.s1 { background-color: rebeccapurple;}
.s2 {background-color: greenyellow;}
.s3 {background-color: orange;}
.s4 {background-color: orangered;}
.s5 {background-color: white;}