html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000078;
    margin-bottom: 150px;
}

/* CABECERA */

header {
    margin: 0 15%;
}

header img {
    float: left;
    margin-top: 10px;
}

.menu {
    float: right;
    font-size: 22px;
    font-weight: 700;
    height: 70px;
}

.menu ul {
    padding-top: 15px;
}

.menu li {
    display: inline;
}

.menu a {
    color: #000078 !important;
    text-decoration: none;
    margin-right: 20px;
}

.menu a:hover {
    color: black !important;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 0 !important;
}   

.link-selected {
    border-bottom: 2px solid #FFE000;
}

/* PIE DE PÁGINA */

footer {
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
    background-color: #D0D0D0;
    border-top: 3px solid #73EDFF;
}

footer p {
    text-align: center;
}

/* GENERAL */

h1 {
    font-family: 'Merriweather', serif;
    color: #000078;
    font-size: 3.5em;
    margin-top: 0;
}

h2 {
    font-family: 'Merriweather', serif;
    color: #000078;
    font-size: 2em;
}

.custom-button {
    background-color: #FFE000;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.container {
    margin: 0 15%;
    padding: 50px 0;
    clear: both;
}

/* INDEX */

.first-section { 
    padding-top: 100px;
    margin: 0 15%;
    clear: both;
}

.first-section-item {
    padding-bottom: 75px;
    float: left;
    width: 50%;
}

.first-section-item span {
    font-size: 24px;
    display: block;
    margin-bottom: 15px;
    padding-right: 110px;
}

.second-section {
    clear: both;
    height: 300px;
    background-color: #F0F0F0;
    padding: 50px 0;
    text-align: center;
    font-weight: bold;
}

.second-section-item {
    float: left;
    width: 33.33%;
}

.second-section-item span {
    display: block;
    font-size: 30px;
    padding: 5px 0;
}

.second-items {
    margin: 0 15%;
}

.third-section {
    clear: both;
    height: 500px;
    padding-top: 50px;
    text-align: center;
}

.third-section ul {
    list-style: none;
    width: 900px;
    margin: 0 auto;
}

.third-section li {
    margin-top: 40px;
    padding: 20px;
    border-bottom: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    font-size: 26px;
    text-align: left;
}

/* PUBLICAR */

form ul {
    list-style-type: none;
}

form li {
    padding: 25px 0;
}

.principal-box-form {
    margin-bottom: 50px;
}

.element-required {
    color: red;
}

label {
    display: block;
    float: left;
    clear: left;
    width: 300px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: right;
}

#editorial {
    opacity: 1;
    background: lightgray;
}

input, select, textarea {
    padding: 4px 2px; 
    border: 1px solid #aaa;
    width: 500px;
    vertical-align: top;
    margin-bottom: 10px;
    font-size: 100%;
}

input {
    border-radius: 20px;
}

input, textarea {
    display: block;
    float: left;
}

input[type="radio"] {
    display: inline;
}

select {
    display: block;
    float: left;
    padding: 0 2px; 
}

textarea {
    margin-bottom: 10px;
    padding: 0;
}

#section-button {
    margin-top: 10px;
}

/* ÚLTIMOS ENVÍOS */

table {
    margin: auto;
    text-align: center;
    line-height: 1.5;
    border-collapse: collapse;
    border-top: 2px solid #000078;
    border-bottom: 1px solid #000078;
    font-weight: 700;
}

table a {
    text-decoration: none;
    color: #000078 !important;
}

table a:hover {
    color: black;
}

th span {
    display: block;
}

th, td {
    padding: 15px 12px;
}

#title-column {
    width: 30%;
}

#language-column {
    width: 5%;
}

tbody a {
    word-break: break-all;
    display: inline-block;
}

tbody tr:nth-child(odd) {
    background: #D0D0D0;
    border-bottom: 2px solid #000078;
}

tbody tr:nth-child(even) {
    background: #F0F0F0;
    border-bottom: 1px solid #000078;
}

#first-row {
    border-top: 2px solid #000078;
}

#last-row {
    border-bottom: 2px solid #000078 !important;
}

tfoot {
    font-size: small;
}

cite {
    font-style: normal;
}