body {
  font-family: sans-serif;
  margin: 0;
  background: black;
  color: white;
  padding: 0 25px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
}

header h1 {
  margin: 0;
  flex: 1 1 auto;
  padding: 0 25px;
  display: flex;
}

h1 #logo {
  display: block;
  width: 200px;
  height: 78px;
  background: url("../img/Marvel.jpg");
  background-size: 200px 78px;
}

h1 #title {
  font-size: 72px;
  color: white;
}

#search {
  text-align: right;
  align-self: center;
}

#disclaimer {
  margin: 10px 0;
  font-size: 12px;
}

#hero {
  padding: 50px 25px 0;
}

#hero h1 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 32px;
}

#hero .portrait {
  width: 300px;
  height: 300px;
  padding-right: 50px;
}

.heroInfo {
  display: flex;
}

#heroDescription p {
  font-size: 20px;
}

.heroInfo p {
  margin: 0;
}

#comics {
  padding: 50px 25px 0;
}

#comics .portrait {
  width: 75px;
  height: 75px;
}

.comicList {
  display: none;
}

.comicList h2 {
  min-height: 50px;
  font-size: 20px;
}

.comicList h3 {
  font-size: 16px;
}

.comicListItem {
  padding: 0 25px;
  margin: 25px 0 50px;
  border-left: 1px solid white;
  width: 33%;
}

.comic:first-child {
  border: none;
  padding-left: 0;
}

.comic:last-child {
  padding-right: 0;
}

.comic .description {
  font-size: 14px;
}

.companions {
  display: block;
  word-wrap: break-word;
}

.companions li {
  flex: 0 1 auto;
  padding-right: 10px;
  display: inline;
}

.companions p {
  text-align: center;
}

footer {
  border-top: 1px solid white;
  text-align: center;
  padding-top: 25px;
}

footer p {
  margin: 5px;
}

footer a {
  color: white;
}

.loading {
  display: none;
  text-align: center;
}

.loading .fa {
  font-size: 72px;
}

#loading-comics .fa {
  font-size: 16px;
}

#result {
  display: none
}

#welcome, #error {
  text-align: center;
  padding: 25px;
  font-size: 26px;
}

#welcome {
  display: block;
}

.comic, #error, #loading-comics {
  display: none;
}

#loading-comics {
  text-align: center;
  padding: 5px;
  background: lightyellow;
  color: black;
  margin-bottom: 5px;
}