.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

main > .container {
    padding: 60px 15px 0;
}

.footer {
    background-color: white;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.nav-principal {
    background: white;
    border-bottom: 1px solid black;
}

.fixed-top-nav {
    top: 0;
    right: 0;
    left: 0;
}

form {
    border: 1px solid black;
    border-radius: 25px;
    background: white;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-radius: 25px;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-radius: 25px;
}

.form-signin input[type="number"] {
    margin-bottom: -1px;
    border-radius: 25px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-radius: 25px;
}

body {
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

footer {
    border-top: 1px solid black;
}

img {
    width: 40px;
    height: 40px;
}

.link-white {
    color: black !important;
    text-decoration: underline black !important; 
}

.alert {
    display: none;
}

.cover {
    padding: 0 1.5rem;
}
  
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;

}

.cover-container {
    max-width: 42em;
}

#fuerza-contrasena {
    border: 1px solid black;
    padding: 2px;
}

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding: 8px; 
  color: black;
}

table {
    background: white !important;
}

#alert-fixed { 
    display: block;
}

.logo-link {
    color: black !important;
    text-decoration: none !important; 
}

#news {
    background: white;
    padding: 10px;
    border: 1px solid black;
}