body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/* CABECERA */

header {
    background-color: #000000;
    padding: 10px;
    color: #FFFFFF;
}

.content-header {
    margin: 5px 0 15px 15%;
}

header img {
    width: 275px;
}

/* FOOTER */

footer {
    background-color: #3B3B3B;
    color: #FFFFFF;
    height: 150px;
}

footer span {
    display: block;
}

footer .content-footer {
    margin: 5px 0 15px 15%;
    padding-top: 15px;
}

/* MENÚ */

.menu {
    background-color: #FFFFFF;
    border-bottom: 3px solid #DDDDDD;
    height: 70px;
}

.menu ul {
    text-align: center;
    padding-top: 15px;
}

.menu li {
    display: inline;
}

.menu a {
    color: #222222 !important;
    text-decoration: none;
    margin-right: 20px;
}

.menu a:hover {
    color: #CC0000 !important;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 0 !important;
}   

.link-selected {
    border-bottom: 3px solid #CC0000;
    padding: 5px;
}

/* COMPARTIDO POR LAS TRES PÁGINAS */

h1 { 
    font-size: 3.5em;
    margin: 0;
}

h2 { 
    font-size: 2.5em;
    margin: 15px 0;
}

.container {
    margin: 3% 15%;
}

.bio-footer {
    margin: 40px 10% 0;
    font-size: small;
    font-style: italic;
}

.video {
    text-align: center;
    margin: 10px 0;
}

.video span {
    font-size: x-small;
    display: block;
}

a {
    color: #CC0000 !important;
    text-decoration: none;
}

a:hover {
    color: #222222 !important;
    cursor: pointer;
}

/* FIN CONFIANZA */

p {
    text-align: justify;
    line-height: 1.5;
}

#article-introduction {
    margin: 20px 50px;
    border-top: 2px solid #DDDDDD;
    border-bottom: 2px solid #DDDDDD;
    font-size: 18px;
    padding: 10px;
}

#image-fi-confi-lab {
    text-align: center;
}

#image-fi-confi-lab img {
    margin: auto;
    width: 650px;
    margin-bottom: 15px;
}

#image-fi-confi-lab span {
    font-size: x-small;
    display: block;
}

#author {
    line-height: 1.5;
    margin: 0 10%;
    display: inline-flex;
}

#author img {
    border-radius: 50%;
    margin-right: 10px;
}

@-moz-document url-prefix() {
    #author img {
        height: 125px;
    } 
    #author span {
        margin-top: 65px !important;
    }
}

#author span {
    margin-top: 80px;
}

/* RECURSOS */

li {
    font-size: initial;
}

ul li {
    margin: 10px 0;
    list-style-type: square;
}

ol > li {
    font-size: 20px;
}

#press-icon {
    list-style-image: url("../img/press-icon.png");
}

#press-icon li {
    list-style-image: initial;
}

#internet-icon {
    list-style-image: url("../img/internet-icon.png");
}

#internet-icon li {
    list-style-image: initial;
}

/* TERMINOLOGÍA */

dt {
    font-size: 22px;
}

dd {
    margin: 10px 0;
}

#image-fi-wooty {
    text-align: center;
    margin-bottom: 15px;
}

blockquote {
    background-color: #EEE;
    margin: 10px auto;
    width: 75%;
    border-left: 5px solid #DDD;
}

blockquote p {
    padding: 15px 30px 30px 25px;
}
