/********************************************************************
No tienes que hacer ningún cambio en este archivo
*********************************************************************/
* {
    box-sizing: border-box;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

@media (min-width: 576px) {
    .container {
    max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
    max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
    max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
    max-width: 1140px;
    }
}
img {
    max-width: 100%;
    display: blocK;
    margin-left: auto;
    margin-right: auto;
}